<div class="p-2.4 bg-white w-[73rem] rounded-bs flex gap-2.4">
  <app-like-counter></app-like-counter>
  <div class="flex flex-col gap-6">
    <div class="flex justify-between">
      <div class="flex gap-1.6">
        <figure class="h-3.2 w-3.2 rounded-full">
          <img src="assets/test-image.png" alt="test" class="w-full">
        </figure>
        <div class="flex gap-0.8 self-center">
          <span class="font-medium text-bs text-blue-dark">amyrobson</span>
          <span class="bg-blue-moderate rounded-[2px] font-medium text-xl text-white px-2 h-8 self-center">you</span>
        </div>
        <span class="font-normal text-bs text-blue-grayish self-center">1 month ago</span>
      </div>
      <div class="flex gap-2.4 items-center">
        <app-comment-button btnType="delete"></app-comment-button>
        <app-comment-button btnType="edit"></app-comment-button>
        <app-comment-button btnType="reply"></app-comment-button>
      </div>
    </div>
    <p class="font-normal text-bs text-blue-grayish">
      <span class="text-blue-moderate font-medium">@ramsesmiron</span>
      Impressive! Though it seems the drag feature could be improved. But overall it looks incredible.
      You’ve nailed the design and the responsiveness at various breakpoints works really well.
    </p>
  </div>
</div>
